.header-main
  .header-main__top-link
    .top-link
      = image_tag "Airbnb.png", alt: "Company Logo", class: "icon"
  .header-main__search
    %input{type: 'text', autocomplete: 'off', class: 'area-search',placeholder: '「サン・セバスティアン」などエリアを入力', name: 'query'}
  .header-main__user-index
    %nav
      %ul.user-index
        %li.start-host
          .start-host__content
            ホストをはじめる
            %ul.host-submenu
              %li.host-submenu__li1
                .hotel-share
                  宿泊先をホストする
                .hotel-share__adver
                  東京のお家をシェア、月最大¥ 151,351確保。
              %li.host-submenu__li2
                .hotel-introduce
                  ホストを紹介
              %li.host-submenu__li3
                .hotel-experience
                  体験をホストする
        %li.help
          .help__content
            ヘルプ
        %li.create-account
          %a{"data-toggle" => "modal", :href => "_user-registration_modal.html.haml", :role => "button", class: '.create-account__content'}
            登録する
        %li.login
          .login__content
            ログイン
