#show_main
  sample
  .user-registration__what
    %a{href: '', class: 'user-registration__what-close'}
      閉じる
    .user-registration__what-account
      .user-registration__what-account-facebook
        Facebookで登録
      .user-registration__what-account-google
        Googleで登録
      .content
        または
      .user-registration__what-account-mail
        メールアドレスで登録
      .user-registration__what-existing
        Airbnbのアカウントをお持ちですか？　ログイン
