.header-main{
  background-color: rgb(255,255,255);
  box-shadow: none;
  border-bottom: 1px solid rgb(228,228,228);
  display: table;
  width: 100%;
  font-weight: 600;
  &__top-link{
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    &{
      text-align: center;
      .icon{
        vertical-align: middle;
        display: inline-block;
        width: 34px;
        height: 34px;
      }
    }
  }
  &__search{
    display: table-cell;
    vertical-align: middle;
    width: 65%;
    .area-search{
      width: 460px;
      height: 48px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #DBDBDB;
      border-radius: 4px;
    }
  }
  &__user-index{
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    text-align: center;
    .user-index{
      display: table;
      padding: 0px;
      margin: 0px;
      .start-host{
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        line-height: 80px;
        padding: 8px;
        &__content{
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          padding: 8px;
          border-bottom: 2px solid transparent;
          .host-submenu{
            display: none;
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
            background-color: white;
            min-width: 282px;
            max-width: 950px;
            min-height: 60px;
            right: 20.176%;
            top: 11.5%;
            border-width: 1px 1px 1px;
            border-style: none solid solid;
            border-color: rgb(219, 219, 219) rgb(219, 219, 219) rgb(219, 219, 219);
            border-top: none;
            z-index: 1;
            &__li1{
              padding: 24px 24px;
              text-align: left;
              border-bottom: 1px solid rgb(242, 242, 242);
              .host-share{
                font-weight: 600;
                word-wrap: break-word;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: normal;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                color: rgb(72, 72, 72);
                margin: 0px;
              }
              &__adver{
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                max-width: 220px;
                padding-top: 8px;
              }
            }
            &__li2{
              padding: 24px 24px;
              text-align: left;
              border-bottom: 1px solid rgb(242, 242, 242);
              .host-introduce{
                font-weight: 600;
                word-wrap: break-word;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: normal;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                color: rgb(72, 72, 72);
                margin: 0px;
              }
            }
            &__li3{
              padding: 24px 24px;
              text-align: left;
              .hotel-experience{
                font-weight: 600;
                word-wrap: break-word;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: normal;
                font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                color: rgb(72, 72, 72);
                margin: 0px;
              }
            }
          }
        }
      }
      .start-host:hover{
        border-bottom: 2px solid rgb(118, 118, 118);
      }
      .help{
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        line-height: 80px;
        padding: 8px;
        &__content{
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          padding: 8px;
          border-bottom: 2px solid transparent;
        }
      }
      .help:hover{
        border-bottom: 2px solid rgb(118, 118, 118);
      }
      .create-account{
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        line-height: 80px;
        padding: 8px;
        &__content{
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          padding: 8px;
          border-bottom: 2px solid transparent;
        }
      }
      .create-account:hover{
        border-bottom: 2px solid rgb(118, 118, 118);
      }
      .login{
        display: table-cell;
        vertical-align: middle;
        height: 80px;
        line-height: 80px;
        padding: 8px;
        &__content{
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          padding: 8px;
          border-bottom: 2px solid transparent;
        }
      }
      .login:hover{
        border-bottom: 2px solid rgb(118, 118, 118);
      }
    }
  }
}
