.header-main{
  background-color: rgb(255,255,255);
  box-shadow: none;
  border-bottom: 1px solid rgb(228,228,228);
  .header-main__top-link{
    display: table;
    width: 100%;
    .top-link{
      display: table-cell;
      vertical-align: middle;
      .top-link1{
        box-sizing: border-box;
        .top-link2{
          position: relative;
          .top-link3{
            height: 80px;
            .top-link4{
              display: inline-block;
              .icon{
                vertical-align: middle;
                display: inline-block;
                width: 68px;
                height: 34px;
              }
            }
          }
        }
      }
    }
  }
  .header-main__search{}
  .header-main__user-index{
      .user-index{
      }
  }
}
