.header-main
  .header-main__top-link
  .header-main__search
  .header-main__user-index
    %nav
      %ul.user-index
        %li.start-host
          %img {alt: "CompanyLogo", src: assets/images/Airbnb_logo.jpeg}
        %li.help
        %li.create-account
        %li.login
