.header-main
  .header-main__top-link
    .top-link
      .top-link1
        .top-link2
          .top-link3
            .top-link4
              = image_tag "Airbnb_logo.jpeg", alt: "Company Logo", class: "icon"
  .header-main__search
  .header-main__user-index
    %nav
      %ul.user-index
        %li.start-host
        %li.help
        %li.create-account
        %li.login
